body{
    min-height: 100vh;
    background-color: #efefef;
}
.main-container{
    background-color: #efefef;
    padding: 1rem;
}

.main-content{
    boder:solid 1px #efeeee;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 6px, rgb(0 0 0 / 12%) 0px 1px 4px;
    background-color: #FFFFFF;
    padding: 1rem;
}

.card{
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 6px, rgb(0 0 0 / 12%) 0px 1px 4px;
    border-radius: 0;
}

.menu-container{
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 6px, rgb(0 0 0 / 12%) 0px 1px 4px;
}

.new-button-fixed{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border-radius: 50%;
    box-shadow: #828387 3px 3px 5px 1px;
}

.new-button-absolute{
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    border-radius: 50%;
    box-shadow: #828387 3px 3px 5px 1px;
}

.toast-custom{
    position: fixed;
    top:5rem;
    right: 3rem;
}

.popover-size-lg{
    max-width: 400px !important;
}